@font-face {
    font-family: myFirstFont;
    src: url(SIRWAY.ttf);
}

body {
    font-family: myFirstFont;
    margin: auto;
    color: #752339;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    overflow-x: hidden;
}

#logo {
    max-width: 100%;
    padding: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 50px;
    padding-right: 10px;
}

#pageHr {
    cursor: pointer
}

#eng {
    display: none
}

.logo {
    text-align: right
}

#logo {
    cursor: pointer;
}

.lis {
    display: none
}

.sidenav a:before {
    content: "»";
    margin-right: 6px;
}

footer {
    padding: 1%;
    padding: 1%;
    background: white;
    text-align: center;
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, .2);
    position: relative
}

#gnjavaza {
    text-align: left;
}

.aktstra {
    font-weight: 900
}

.lang {
    display: inline-block;
    margin-right: 1%;
    margin-top: 0.5%;
    z-index: 400;
    text-align: center;
    padding: 14px 16px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: #313236;
    width: 100%;
    background: white;
    display: grid;
    display: -ms-grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: auto auto auto;
    position: -webkit-sticky;
    /* Safari */
    position: absolute;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    border-bottom: 20px solid pink;
    border-image-source: url(crta.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
    border-image-outset: 22px;
    font-weight: 600;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    bottom: initial;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    border: none;
}

.slika {
    max-width: 100%;
    display: block;
    margin: auto
}

.navbar a {
    color: #752339;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.meni-link {
    text-align: right;
    line-height: 70px;
}

.topnav {
    overflow: hidden;
    text-align: left;
    line-height: 40px;
}

.topnav a {
    display: inline-block;
    color: #752339;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

li {
    display: inline-block;
}

li a,
.dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    padding-left: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.jezici {
    padding: 0!important;
    border-right: 2px solid black;
    line-height: initial;
    padding-right: 5px!important;
}

#neki {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.jezici:nth-child(3) {
    border-right: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    background: url(../slike/police.jpg) no-repeat center top;
    background-size: cover;
    position: fixed;
    height: 90%;
    bottom: 10%;
    right: 0;
    left: 0;
    top: 0;
    overflow-x: hidden;
}

#header .center {
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    color: #F5F7FA;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#header .center .middle {
    position: absolute;
    margin-top: -8em;
    right: 0;
    left: 0;
    top: 50%;
}

#header .center .middle h1 {
    font-weight: normal;
    line-height: 1em;
    font-size: 11em;
    margin: 0;
}

#header .center .middle span {
    line-height: 5em;
    font-size: 1em;
}

#pageHr {
    position: absolute;
    height: 5px;
    display: block;
    right: 0px;
    left: 0px;
    top: 90.5%;
    z-index: 200;
}

#pageHr > span {
    margin: -25px;
    border: 5px solid #FFFFFF;
    height: 40px;
    width: 40px;
    background: #752339;
    position: absolute;
    display: block;
    -moz-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
}

#pageHr > span > span {
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    display: block;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#page {
    background: white;
    position: relative;
    top: 90%;
    padding-top: 5%;
    text-align: center;
    height: 50%;
}

.content {
    background: #FCF7DA;
    margin: 0;
    padding: 1%;
    text-align: justify;
}

#page {
    background: #FCF7DA;
    box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, .2);
}

.stankoviciana {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer
}

.content {
    background: #FCF7DA;
    margin: 0;
    padding: 2%;
    padding-top: 1%;
    text-align: justify;
}

.sadrzaj {
    display: grid;
    display: -ms-grid;
    grid-gap: 10px;
    -ms-grid-gap: 10px;
    grid-template-columns: minmax(200px, 200px) minmax(200px, 1fr);
    -ms-grid-template-columns: minmax(200px, 200px) minmax(200px, 1fr);
    background: #FCF7DA;
    position: relative;
}

.sidenav {
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #752339;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}


/* On mouse-over */

.sidenav a:hover,
.dropdown-btn:hover {
    background-color: #ddd;
    color: black;
}


/* Main content */

.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* Add an active class to the active dropdown button */

.active {
    background-color: #752339;
    color: white;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    padding-left: 20px;
}

.bocni {
    background: white;
    box-shadow: 0 2px 0px 2px rgba(0, 0, 0, .2)
}


/* Optional: Style the caret down icon */

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sidenav.sticky {
    padding-top: 100px;
    box-shadow: none;
}

@media screen and (max-width: 1440px) {
    #header .center .middle h1 {
        font-size: 8em
    }
    #pageHr > span {
        width: 30px;
        height: 30px;
    }
    #pageHr > span > span {
        width: 30px;
        height: 30px;
        line-height: initial;
    }
    #header .center .middle h1{font-size: 11px}
}

@media screen and (max-width: 1024px) {
    #header .center .middle h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 800px) {
    .bocni {
        display: none
    }
    .stankoviciana {
        display: none
    }
    .sadrzaj {
        display: initial
    }
    #zbi {
        display: none;
    }
    .lis {
        display: block;
    }
    .content {
        margin-top: 30px;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
    }
    .topnav {
        line-height: initial;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    li {
        display: block
    }
    .meni-link {
        line-height: initial;
    }
    #logo {
        position: initial;
        top: initial;
        transform: initial;
        padding-top: 10px;
        max-width: 200px;
    }
    .dropdown-content {
        position: relative
    }
    #header .center .middle h1{font-size: 8em}

}

@media  only screen and (max-width: 755px) {
    #headerc .center .middle h1 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 731px) {
    .navbar a {
        font-size: 12px
    }
}

@media  only screen and (max-width: 525px) {
    #header .center .middle h1 {
        font-size: 2.5em;
    }
    #logo {
        max-width: 150px;
    }
    .navbar {
        grid-template-columns: 30% 20% 50%;
    }

}