    * {
        box-sizing: border-box;
    }

    @font-face {
        font-family: myFirstFont;
        src: url(MyriadPro-Regular.otf);
    }

    body {
        font-family: myFirstFont;
        margin: auto;
        background: #FAF6F3;
        overflow-x: hidden;
    }

    #razmak {
        padding: 2%;
        background: #FAF6F3
    }

    #header {
        background: url(../slike/Stol_DSC00880.jpg) no-repeat center top;
        background-size: cover;
        position: fixed;
        height: 90%;
        bottom: 10%;
        right: 0;
        left: 0;
        top: 0;
        overflow-x: hidden;
    }

    #header .center {
        background: rgba(0, 0, 0, 0.25);
        text-align: center;
        position: absolute;
        color: #FFFFFF;
        color: #F5F7FA;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    #header .center .middle {
        position: absolute;
        margin-top: -8em;
        right: 0;
        left: 0;
        top: 50%;
    }

    #header .center .middle h1 {
        font-weight: normal;
        line-height: 1em;
        font-size: 11em;
        margin: 0;
    }

    #header .center .middle span {
        line-height: 5em;
        font-size: 1em;
    }

    #pageHr {
        position: absolute;
        height: 5px;
        display: block;
        right: 0px;
        left: 0px;
        top: 1%;
        z-index: 200;
    }

    #pageHr>span {
        margin: -25px;
        border: 5px solid #FFFFFF;
        height: 40px;
        width: 40px;
        background: #752339;
        position: absolute;
        display: block;
        -moz-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
        -webkit-transform: translateX(-50%) rotate(45deg);
        transform: rotate(45deg);
        left: 50%;
    }

    #pageHr>span>span {
        font-size: 20px;
        height: 40px;
        width: 40px;
        text-align: center;
        position: absolute;
        color: #FFFFFF;
        display: block;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #kontejner {
        position: relative;
        top: 90%;
        padding-top: 1.5%;
        text-align: center;
        height: 50%;
    }

    #hr {
        display: inline-block;
        padding: 5px;
        border: 1px solid black;
        border-radius: 100px -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        cursor: pointer;
    }

    #it {
        display: inline-block;
        padding: 5px;
        border: 1px solid black;
        border-radius: 100px -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        cursor: pointer;
    }

    #eng {
        display: none
    }

    .sad span {
        font-size: 18px
    }

    .str, .list, .listova, .presavtab, .presav, .ilu, .muz, .podtis, .listab {
        font-size: initial!important
    }

    .logo {
        text-align: left;
    }

    #logo {
        max-width: 100%;
        position: relative;
        top: 50%;
        max-height: 80px;
        padding-top: 10px;
    }

    #langswitch {
        text-align: right
    }

    .logo:after {
        content: "";
        display: block;
        height: 35px;
        background-image: url(../slike/ukras.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    #galerija {
        background: #EEE9E5;
        padding: 5%;
    }

    footer {
        padding: 5%;
        background: #241915;
        text-align: center;
        box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, .2);
        position: relative
    }

    #gnjavaza {
        text-align: left;
    }

    .strelice {
        position: absolute;
        bottom: 0;
        font-size: 40px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        font-family: sans-serif;
    }

    .naznas {
        cursor: pointer
    }

    .strelice2 {
        position: absolute;
        top: 50%;
        font-size: 40px;
        width: 100%;
        font-family: sans-serif;
        padding-right: 3%;
        transform: translateY(-50%);
        display: none;
        color: lightgoldenrodyellow;
        text-shadow: 0 0 5px black;
    }

    .desna {
        text-align: right;
        width: 100%;
    }

    .lijeva {
        text-align: left;
        width: 100%;
    }

    .desna, .lijeva {
        cursor: pointer;
        transition: 0.3s;
    }

    .desna:hover {
        color: #f1f1f1
    }

    .lijeva:hover {
        color: #f1f1f1
    }

    .stankoviciana {
        width: 200px;
        cursor: pointer
    }

    .lang {
        display: inline-block;
        /* margin-right: 1%; */
        /* margin-top: 0.5%; */
        z-index: 40;
        text-align: center;
        padding: 14px 16px;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        line-height: 40px;
        background: url(../slike/police.jpg) no-repeat center top;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
    }

    .footergl {
        text-transform: uppercase;
        color: white;
        text-align: left;
        margin-bottom: 0;
        cursor: pointer
    }

    .podtekst {
        color: #8E7F6A;
        text-align: left;
        margin-top: 0;
        cursor: pointer
    }

    .demo {
        text-decoration: none;
    }

    .podtekst li {
        display: inline;
        padding-right: 15px;
    }

    .navbar {
        width: 100%;
        background: #EEE9E5;
        display: -ms-flexbox;
        display: flex;
        display: grid;
        -ms-grid-gap: 10px;
        grid-gap: 10px;
        grid-template-columns: minmax(300px, 400px) minmax(500px, 1fr);
        -ms-grid-columns: minmax(300px, 400px) minmax(500px, 1fr);
        /* Safari */
        z-index: 2;
        font-weight: 600;
    }

    #logo {
        cursor: pointer;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        bottom: initial;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    }

    .slika {
        max-width: 100%;
        display: block;
        margin: auto
    }

    .slikaopis {
        text-align: center;
        max-width: width: 450px;
        margin: 0 15px 15px 0px;
        padding: 15px;
        padding-left: 0;
    }

    .slikaopis2 {
        max-height: 300px;
        max-width: 100%;
    }

    .opisslike {
        font-size: 85%;
        color: black;
        font-style: italic;
    }

    .opispredmeta {
        margin: 2%;
        padding-right: 15px;
        padding-top: 15px;
    }

    .opispredmeta span {
        font-size: 18px
    }

    .opis-predmeta {
        color: #fcf7da;
        position: relative;
    }

    .aktstra {
        font-weight: 900
    }

    #glass {
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        display: none;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, .6);
    }

    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 3%;
        right: 3%;
        display: none;
        background-color: #241915;
        color: white!important;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        z-index: 10;
    }

    .navbar a {
        color: #752339;
        display: inline-block;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }

    .responzivan {
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block
    }

    .meni-link {
        text-align: right;
        line-height: 70px;
    }

    .topnav {
        overflow: hidden;
        text-align: left;
        line-height: 20px;
        padding: 20px;
    }

    .topnav a {
        display: inline-block;
        color: #752339;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    figcaption {
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
    }

    .column {
        margin: 15px 15px 0;
        padding: 0;
    }

    .column:last-child {
        padding-bottom: 60px;
    }

    .column::after {
        content: '';
        clear: both;
        display: block;
    }

    .column div {
        position: relative;
        float: left;
        width: 300px;
        height: 200px;
        margin: 0 0 0 25px;
        padding: 0;
    }

    .column div:first-child {
        margin-left: 0;
    }

    .opacity {
        opacity: .5;
        filter: alpha(opacity=50);
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0 0 5px black;
    }

    .opacity, .opacity:hover {
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
    }

    .opacity:hover {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .column div span {
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: -1;
        display: block;
        width: 300px;
        margin: 0;
        padding: 0;
        color: #444;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        opacity: 0;
    }

    figure {
        max-width: 400px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: center;
        display: block;
        text-align: center;
        margin: auto;
        display: inline-block;
    }

    figure:hover+span {
        bottom: -36px;
        opacity: 1;
    }

    /* Zoom In #1 */

    .hover01 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .hover01 figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .topnav .icon {
        display: none;
    }

    li a, .dropbtn {
        display: inline-block;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown-content {
        min-width: 160px;
        z-index: 1;
        padding-left: 20px;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        padding-left: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        padding-left: 10px;
    }

    .dropdown-content a:before {
        content: url(oznaka.png);
        margin-right: 6px;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    #langswitch {
        padding-bottom: 10px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .parallax-window {
        min-height: 400px;
        background: transparent;
        color: white;
        text-align: center;
    }

    .jezici {
        line-height: initial;
        text-decoration: none;
        color: black;
    }

    .jezici:nth-child(3) {
        border-right: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .naslov {
        margin: 0;
        margin-top: 80px;
        margin-left: 60px;
        font-size: 4em;
        font-family: sans-serif;
        font-weight: 300;
        color: white;
        text-align: left;
        line-height: 90px;
        text-transform: uppercase;
    }

    #page {
        box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, .2);
    }

    .content {
        margin: 0;
        padding: 2%;
        text-align: justify;
    }

    .desnacrta {
        height: 315px;
    }

    .sidenav {
        height: 100%;
        width: 200px;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    #sidro {
        font-size: 20px
    }

    .bibliografija {
        position: relative;
        text-align: center;
        padding: 5%;
    }

    .predmet {
        max-height: 300px;
        border-radius: 4px;
        box-shadow: 0 0 5px black;
        border-radius: 4px;
        margin: 10px;
        margin-left: 20px;
        transition: box-shadow 0.3s ease-in-out;
    }

    .predmet:hover {
        box-shadow: 0 0 5px #752339;
    }

    .example-image-link {
        display: inline-block;
        padding: 2px;
        margin: 0 1rem 1rem 0.5rem;
        background-color: transparent;
        line-height: 0;
        float: left;
        border-radius: 4px;
        transition: background-color 0.5s ease-out;
        padding-right: 20px;
        cursor: pointer;
        position: relative;
    }

    .tekst_link {
        color: #752339;
        font-weight: 600;
    }

    /* Style the sidenav links and the dropdown button */

    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #752339;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        font-weight: 600;
    }

    /* On mouse-over */

    .sidenav a:hover, .dropdown-btn:hover {
        background-color: #ddd;
        color: black;
    }

    /* Main content */

    .portret {
        text-decoration: none;
    }

    .smece {
        text-align: left
    }

    .main {
        margin-left: 200px;
        /* Same as the width of the sidenav */
        font-size: 20px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */

    .active {
        background-color: #752339;
        color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

    .dropdown-container {
        display: none;
        padding-left: 20px;
    }

    .bocni {
        background: white;
        box-shadow: 0 2px 0px 2px rgba(0, 0, 0, .2)
    }

    /* Optional: Style the caret down icon */

    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    .sidenav.sticky {
        padding-top: 100px;
    }

    .drzac {
        display: -ms-flexbox;
        display: flex;
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        margin: 2%;
    }

    .pregled {
        display: block;
        margin: auto;
        height: 95vh;
        margin-bottom: 2%
    }

    .section {
        clear: both;
        padding: 0px;
        margin: 0px;
    }

    /*  COLUMN SETUP  */

    .col {
        display: block;
        float: left;
        margin: 1% 0 1% 4%;
        background: #F9F8F6;
    }

    .col:first-child {
        margin-left: 0;
    }

    /*  GROUPING  */

    .group:before, .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        zoom: 1;
        /* For IE 6/7 */
    }

    /*  GRID OF TWO  */

    .span_2_of_2 {
        width: 100%;
    }

    .span_1_of_2 {
        width: 48%;
    }

    /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: 0.5s;
        z-index: 100;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
        z-index: 1000000000000;
    }

    .section {
        clear: both;
        padding: 0px;
        margin: 0px;
    }

    /*  COLUMN SETUP  */

    .col2 {
        display: block;
        float: left;
        margin: 1% 0 1% 1.6%;
    }

    .col2:first-child {
        margin-left: 0;
    }

    /*  GROUPING  */

    .group:before, .group:after {
        content: "";
        display: table;
    }

    .group:after {
        clear: both;
    }

    .group {
        zoom: 1;
        /* For IE 6/7 */
    }

    /*  GRID OF FOUR  */

    .span_4_of_4 {
        width: 100%;
    }

    .span_3_of_4 {
        width: 74.6%;
    }

    .span_2_of_4 {
        width: 49.2%;
    }

    .span_1_of_4:nth-child(1) {
        width: 15.8%;
    }

    .span_1_of_4:nth-child(2) {
        width: 13.8%
    }

    .span_1_of_4:nth-child(3) {
        width: 43.8%
    }

    .span_1_of_4:nth-child(4) {
        width: 21.8%
    }

    /*  GO FULL WIDTH BELOW 480 PIXELS */

    .izmijena {
        text-align: center
    }

    @media only screen and (max-width: 1400px) {
        .topnav {
            padding: 0;
        }
        #logo {
            padding: 10px;
        }
        .logo::after {
            height: 15px;
        }
        .naslov {
            line-height: 60px;
            font-size: 3em
        }
    }

    @media only screen and (max-width: 1250px) {
        .col {
            margin: 1% 0 1% 0%;
        }
        .span_1_of_4 {
            width: 23.8%!important;
        }
    }

    @media only screen and (max-width: 1250px) {
        .span_2_of_2, .span_1_of_2 {
            width: 100%;
        }
        .navbar {
            grid-template-columns: 250px minmax(500px, 1fr);
        }
        .stankoviciana {
            width: 150px;
            cursor: pointer
        }
    }

    @media screen and (max-width: 1100px) {
        .drzac {
            grid-template-columns: minmax(300px, 1fr) minmax(100px, 200px);
        }
        .opis-predmeta {
            font-size: 14px
        }
        .overlay .closebtn {
            top: 5px;
            right: 10px;
            font-size: 30px
        }
        .strelice {
            font-size: 30px;
            grid-template-columns: auto auto;
        }
        #header .center .middle h1 {
            font-size: 8em;
        }
    }

    @media screen and (max-width: 800px) {
        .bocni {
            display: none
        }
        .lang {
            line-height: initial;
        }
        body {
            overflow-x: hidden!important;
            width: 100%;
        }
        .sadrzaj {
            display: initial
        }
        .lis {
            display: block;
        }
        .topnav a {
            display: none;
        }
        .topnav a.icon {
            float: left;
            display: block;
        }
        .topnav {
            line-height: initial;
        }
        .parallax-window {
            min-height: 200px
        }
        .naslov {
            margin-top: initial;
            margin-left: 10px;
            font-size: 1.5em;
            line-height: 0;
            position: absolute;
            top: 50%;
        }
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        li {
            display: block
        }
        .meni-link {
            line-height: initial;
        }
        #logo {
            position: initial;
            top: initial;
            transform: initial;
            padding-top: 10px;
        }
        .dropdown-content {
            position: relative;
        }
        #header .center .middle h1 {
            font-size: 6em;
        }
    }

    @media screen and (max-width: 750px) {
        .drzac {
            display: block
        }
        .pregled {
            height: 80vh;
        }
        .opis-predmet {
            text-align: center;
        }
        .overlay {
            overflow-y: visible;
        }
        .overlay .closebtn {
            right: 10px;
            font-size: 20px;
        }
        .strelice {
            display: none
        }
        .strelice2 {
            display: grid;
            display: flex;
            grid-template-columns: 50% 50%;
        }
    }

    @media only screen and (max-width: 731px) {
        .navbar a {
            font-size: 12px
        }
        .naslov {
            font-size: 1em
        }
    }

    @media screen and (max-width: 525px) {
        .brisi {
            display: none
        }
        .desnacrta {
            display: none;
        }
        .opispredmeta {
            padding-left: 15px
        }
        #header .center .middle h1 {
            font-size: 3em;
        }
    }

    @media screen and (max-width: 525px) {
        .dropdown-content {
            max-width: 100%;
            min-width: initial;
            padding-left: initial;
        }
        .navbar {
            grid-template-columns: 35% 70%;
        }
        #logo {
            max-width: 150px;
        }
        #langswitch {
            font-size: 12px;
        }
        .naslov {
            font-size: 0.9em;
        }
    }

    @media only screen and (max-width: 800px) {
        .col2 {
            margin: 1% 0 1% 0%;
        }
        .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
            width: 100% !important;
            ;
        }
    }

    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }
        .overlay .closebtn {
            font-size: 20px;
            top: 15px;
            right: 35px;
        }
    }